.button {
  padding: 10px;
  font-size: 0.7rem;
  letter-spacing: 1px;
  width: 100%;
  font-family: inherit;
  border: none;
  background: transparent;
  color: inherit;
}

.button__container {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-color: black;
  border: 3px solid black;
  color: white;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button__container:hover {
  background-color: white;
  color: black;
}

.icon__container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
}

.button:focus {
  outline: none;
}

.button::-moz-focus-inner {
  border: 0;
}
