.form__input {
  border: 1px solid lightgray;
  padding: 7px 5px;
  font-size: 1rem;
  margin: 5px 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  border-radius: 3px;
  box-sizing: border-box;
}

.form__name-parent {
  display: flex;
  flex-direction: row;
}

.form__name-child {
  box-sizing: border-box;
  width: 49%;
}

.form__name-input {
  width: 100%;
}

.form__name-space {
  width: 2%;
}

.form__input-nested {
  border: none;
  padding: 7px 7px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  flex: 1;
}

.form__input-parent {
  display: flex;
  border: 1px solid lightgray;
  margin: 5px 0px;
  border-radius: 3px;
  box-sizing: border-box;
}

.form__button-hide {
  border: none;
  width: 40px;
  background: none;
}

.form__input:focus {
  border: 1px solid royalblue;
}

.form__error {
  font-size: 0.8rem;
  color: red;
  font-family: 'Roboto', sans-serif;
}

.form__submit {
  border: 1px solid royalblue;
  background-color: royalblue;
  padding: 8px 3px;
  margin: 5px 0px;
  font-size: 1rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
  border-radius: 3px;
}

.form__header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: royalblue;
}

.form__error-main {
  text-align: center;
  color: red;
}

.form__submit-google {
  border: 1px solid #d2514d;
  background-color: #d2514d;
  margin-top: 20px;
  font-size: 1rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 3px 3px;
}

.form__submit-google-label {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  line-height: 1.8rem;
}

.form__submit-google-div {
  position: relative;
  display: flex;
}
