.vehicle__parent-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid royalblue;
  padding: 20px;
  z-index: 0;
}

.vehicle__image-default {
  width: 100%;
  margin: auto;
}

.vehicle__name {
  margin: 0;
  font-size: 1.3rem;
}

.vehicle__book-btn {
  border: none;
  padding: 10px;
  margin-top: 10px;
  background-color: royalblue;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

.vehicle__details-div {
  background-color: white;
  height: 100px;
  margin-top: 10px;
}
