.rootDiv {
  height: 100vh;
  overflow: auto;
  padding-top: 80px;
  box-sizing: border-box;
}

.landingDiv {
  height: calc(100vh - 80px);
}

.vehicleListDiv {
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

.viewMoreBtn {
  padding: 10px 40px;
  margin-top: 40px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid grey;
  font-weight: 600;
}
