.parentDiv {
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.childDiv {
  display: flex;
  padding: 10px;
  width: 1024px;
  box-sizing: border-box;
}

.vehicleListDiv {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  flex-direction: row;
  padding: 10px;
}

.filterListDiv {
  height: calc(100% - 2px);
  padding: 30px;
  min-width: 300px;
  box-sizing: border-box;
  background-color: rgb(247, 247, 247);
}

.vehicleDiv {
  flex: 1;
  min-width: 250px;
}

.clearBtn {
  margin-top: 10px;
  padding: 10px 30px;
  width: 100%;
  background-color: transparent;
  border: 1px solid grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.vehicleTypeHeader {
  display: inline-block;
  font-style: inherit;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .childDiv {
    flex-direction: column;
    width: 100%;
  }
  .filterListDiv {
    height: auto;
  }
}
