.parentDiv {
  height: 100%;
  padding-top: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
}

.vehicleListDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1;
  overflow: auto;
}

.filterListDiv {
  height: calc(100% - 2px);
  min-width: 400px;
  border: 1px solid black;
}

.vehicleDiv {
  max-width: 300px;
}

@media (max-width: 1024px) {
  .parentDiv {
    display: block;
    flex-direction: column-reverse;
  }
  .filterListDiv {
    height: auto;
    padding: 10px;
  }
}
