.parentDiv {
  height: 100%;
  padding-top: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
}

.vehicleListDiv {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.filterListDiv {
  height: calc(100% - 2px);
  padding: 40px;
  min-width: 300px;
  box-sizing: border-box;
}

.vehicleDiv {
  max-width: 250px;
}

.clearBtn {
  margin-top: 10px;
  padding: 10px 30px;
}

.vehicleTypeHeader {
  display: inline-block;
  font-style: inherit;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .parentDiv {
    display: block;
    flex-direction: column-reverse;
  }
  .filterListDiv {
    height: auto;
  }
}
