.side-drawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
  background-color: black;
}

.side-drawer.open {
  transform: translateX(0);
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0.5rem;
}

.side-drawer li {
  margin: 0.5rem;
}

.side-drawer span {
  color: white;
  font-family: inherit;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 15px;
  letter-spacing: 2px;
}

.side-drawer span:hover,
.side-drawer span:active {
  background-color: rgb(231, 8, 135);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@media (min-width: 1000px) {
  .side-drawer {
    display: none;
  }
}
