.parentDiv {
  padding-top: 100px;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.innerDiv {
  height: 100%;
}

.profileInnerDiv {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.email {
  font-size: 1rem;
  font-weight: 300;
}

.editBtn,
.name,
.email {
  font-family: inherit;
  color: gray;
}

.editBtn {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid gray;
  padding: 10px 30px;
  font-weight: 700;
  font-family: inherit;
  border-radius: 20px;
}

.image {
  height: 120px;
  width: 120px;
  vertical-align: bottom;
}

.editDiv {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.leftDiv {
  border: 1px solid green;
  flex: 1;
  height: 100px;
}

.rightDiv {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
}

.activeDiv {
  padding: 20px;
}

.dropzone {
  border: 1px solid black;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  border: 2px dashed gray;
  border-radius: 2px;
  color: #bdbdbd;
  outline: none;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.uploadBtn {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  border: 1px solid gray;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  color: gray;
}

.displayDiv {
  position: relative;
  padding: 20px;
  display: flex;
  opacity: 1;
  flex-direction: column;
}

.removeBtn {
  background-color: transparent;
  border: none;
  width: 120px;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid gray;
  cursor: pointer;
}

.fileListDiv {
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.fileListItem {
  border-bottom: 1px solid gray;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.imageLabel {
  text-decoration: none;
}

.imageLabel:hover {
  color: red;
}

.errorDiv {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  color: red;
}

@media (max-width: 400px) {
  .displayDiv {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .editDiv {
    flex-direction: column;
  }
}
