.main__div {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

.inner__div {
  max-width: 800px;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
}

.image {
  height: 120px;
  width: 120px;
  vertical-align: bottom;
}

.group__div {
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
}

.group__div > span {
  display: block;
  letter-spacing: 1.5px;
  text-align: center;
}

.group__title {
  font-size: 0.7rem;
}

.group__value {
  font-size: 1rem;
}

.child__div {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.active__div {
  padding: 20px;
}

.dropzone {
  border: 1px solid black;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  border: 2px dashed gray;
  border-radius: 2px;
  color: #bdbdbd;
  outline: none;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.upload__btn {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  border: 1px solid gray;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  color: gray;
}

.display__div {
  position: relative;
  padding: 10px;
  display: flex;
  opacity: 1;
  border: 1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  transition: color 0.3s ease-in-out;
}

.remove__btn:hover {
  color: black;
}

.separator__div {
  flex: 1;
}

.file__list {
  border: 1px solid gray;
  box-sizing: border-box;
}

.file__item {
  border-bottom: 1px solid gray;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.image__div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
}

.profile__img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.file__item > label,
.file__item > a {
  letter-spacing: 1.5px;
}

.final__item {
  border: none;
}

.image__label {
  text-decoration: none;
  color: gray;
  transition: color 0.2s ease-in-out;
}

.image__label:hover {
  color: black;
}

.date__picker {
  width: 100%;
  letter-spacing: 1px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
}

.file__error {
  display: block;
  text-align: center;
  color: red;
  font-size: 0.9rem;
}

.form__label {
  display: block;
  font-size: 0.8rem;
  padding-top: 10px;
  padding-bottom: 5px;
}

.div__title {
  font-family: inherit;
  margin-bottom: 10px;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  margin-top: 15px;
}
