.main__div {
  min-height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
}

.inner__div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  box-sizing: border-box;
}

.details__container {
  display: flex;
}

.booking__div {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.date__picker {
  width: 100%;
  letter-spacing: 1px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
}

.date__label {
  font-family: inherit;
  font-size: 0.8rem;
  margin-top: 10px;
  letter-spacing: 2px;
  display: block;
  padding: 10px;
}

.images__container {
  margin: auto 0px;
}

.equipment__label {
  margin-top: 20px;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 0.8rem;
}

.equipment__label span {
  margin-top: 10px;
  display: block;
}

.bookBtn {
  margin-top: 30px;
  padding: 10px 30px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid grey;
}

.form__error {
  color: red;
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.details__group {
  display: flex;
}

.group__label {
  flex: 1;
}

.details__div {
  padding: 10px;
}

.div__title {
  font-size: 1rem;
  display: block;
  text-align: center;
  letter-spacing: 2px;
}

.details__group > span {
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
}

@media (max-width: 1024px) {
  .parentDiv {
    display: block;
  }
  .childDiv {
    flex-direction: column;
    width: 100%;
  }

  .carousalDiv {
    width: 80%;
    margin-top: 30px;
  }

  .bookingDiv {
    width: 100%;
  }
}
