.toolbar {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #212121;
  top: 0;
  z-index: 10;
}

.toolbar__logo {
  display: flex;
  font-family: inherit;
  align-items: center;
  z-index: 5;
  margin-left: 20px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
}

.toolbar__logo span {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.toolbar__navigation-items {
  display: flex;
  z-index: 20;
}

.toolbar__navigation-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 3px solid #212121;
  font-family: inherit;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

.toolbar__navigation-link span {
  margin-left: 10px;
}

.toolbar__navigation-items li {
  display: flex;
}

.toolbar__navigation-items ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar__navigation-link:hover,
.toolbar__navigation-link:active {
  border-bottom: 3px solid rgb(231, 8, 135);
}

.active {
  border-bottom: 3px solid rgb(231, 8, 135);
}

.toolbar__toggle-button {
  z-index: 15;
}

.toolbar__logo-light {
  font-family: inherit;
  font-weight: 300;
}

.toolbar__logo-dark {
  font-family: inherit;
  font-weight: 800;
}

.toolbar__navigation-div {
  height: 100%;
  position: relative;
}

.toolbar__navigation-dropdown {
  position: absolute;
  right: 0;
  background-color: #212121;
  display: none;
}

.toolbar__navigation-div:hover .toolbar__navigation-dropdown {
  display: block;
}

.toolbar__navigation-dropdown-item {
  font-family: inherit;
  font-weight: 600;
  padding: 20px 30px;
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.toolbar__navigation-dropdown-item:hover {
  background-color: rgb(231, 8, 135);
}

.toolbar__navigation-display-div {
  color: white;
  text-decoration: none;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 3px solid #212121;
  height: 100%;
}

.toolbar__navigation-display-div:hover,
.toolbar__navigation-display-div:active {
  border-bottom: 3px solid rgb(231, 8, 135);
}

.toolbar__navigation-profile-label {
  font-family: inherit;
  font-weight: 600;
  margin-left: 15px;
}

.toolbar__navigation-profile {
  display: flex;
  padding: 20px 30px;
}

.toolbar__navigation-profile-img {
  height: 50px;
  width: 50px;
}

.toolbar__navigation-profile-div {
  white-space: nowrap;
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile__edit-btn {
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
}

.profile__edit-btn:hover {
  border-bottom: 1px solid rgb(231, 8, 135);
}

.profile__name-label {
  color: white;
  font-family: inherit;
  font-weight: 600;
}

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }
  .toolbar__logo {
    margin-left: 0px;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}
