.toolbar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #212121;
  top: 0;
  z-index: 10;
}

.toolbar__logo {
  display: flex;
  align-items: center;
  font-family: inherit;
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  z-index: 5;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
}

.spacer {
  flex: 1;
}

.toolbar__navigation-items {
  display: flex;
  z-index: 20;
}

.toolbar__navigation-link {
  color: white;
  text-decoration: none;
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 3px solid #212121;
}

.toolbar__navigation-items li {
  display: flex;
}

.toolbar__navigation-items ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar__navigation-link:hover,
.toolbar__navigation-link:active {
  border-bottom: 3px solid rgb(231, 8, 135);
}

.active {
  border-bottom: 3px solid rgb(231, 8, 135);
}

.toolbar__toggle-button {
  z-index: 15;
}

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}
