.signup__body {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.signup__form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 50px 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .singup__body {
    justify-content: center;
    padding: 0.5rem;
  }
}
