.main__div {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__form {
  width: 100%;
  max-width: 600px;
}

.main__error {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: red;
}

.name__div {
  display: flex;
}

.separator__div {
  width: 20px;
}
